:root {
    --redwood: #e93826;
    --sunset: #f58020;
    --larch: #fdb71a;
    --midnight: #022822;
    --forest: #0c4b41;
    --glacial: #00b795;
    --light-green: #92d0c3;
    --text: #040504;
    --text-light: #404040;
    --greywc: #82736f;
    --light-gray-2: #707070;
    --off-white: #f0edec;
    --white: #f4f2f1;
    --cloud: #f4f2f1;
}