/* Text Animation Styles */
.letter {
    display: inline-block;
} 

.tricksword {
    white-space: nowrap;
}

.fade-up .letter {
    opacity: 0;
}

.fade-up3 .letter {
    opacity: 0;
}

.image-card {
    opacity: 0;
}

.slide-in .tricksword {
    opacity: 0;
} 